/* Fulla d'estils del document calculadora.html */

body {
  height: 100%;
  width: 100%;
  background-color: #bcd1d6;
}

div#calculadora{
  box-sizing: content-box;
  width: 30%;
  margin-top: 5%;
  height: 50%;
  margin-left: 35%;
  border: solid 10px black;
  background-color: #a8adb5;
}

div#capsalera{
  width: 100%;
  height: 20%;
  background-color: black;
  margin-top: -9%;
}

div#capsalera > p {
  color: white;
  font-size: 2em;
  margin-top: 8%;
  text-align: center;
  font-style: italic;
  font-family: sans-serif;
}

form {
  text-align: center;
  margin-top: 5%;

}
